# 07-09-2019

## list

In [2]:
l=[1,2,3,4,5]
print(l[0])

1

In [3]:
l=[1,2,3,4,]
print(len(l))

4

In [6]:
l=[1,2,3,4,55,6,7,7,8,9,9,0,0,0,0,0]
print(l[-1])

0

## strings

In [7]:
l=["q,we,er,t,y,yu"]
print(l[0:5])

['q,we,er,t,y,yu']

In [9]:
l=['a','s','d','f']
print(l[0:3])

['a', 's', 'd']

In [14]:
l=['a','b','a','d']
print(l[0:4:1])

['a', 'b', 'a', 'd']

In [15]:
l=['a','b','a','d']
print(l[::-1])

['d', 'a', 'b', 'a']

In [16]:
l.append('h')
l

['a', 'b', 'a', 'd', 'h']

In [23]:
n="naveen"
n[0]

'n'

## palendrome

In [25]:
m="malayalam"
n=m[::-1]
if n==m:
    print("pal")
else:
        print("not a pal")

pal

## loops

In [38]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [39]:
l="naveen"
for i in l:
    print(i)

n
a
v
e
e
n

## odd or even

In [49]:
n=[1,2,3,4,5,6,7,8,9,10]
for i in n:
    if i%2==0:
        print("even numbers are",i)
    else:
        print("odd numbers are",i)

odd numbers are 1
even numbers are 2
odd numbers are 3
even numbers are 4
odd numbers are 5
even numbers are 6
odd numbers are 7
even numbers are 8
odd numbers are 9
even numbers are 10

## range between inputs even num

In [57]:
n=int(input())
m=int(input())
for i in range(n,m):
        if i%2==0:
               print("even numbers are",i)

1
10
even numbers are 2
even numbers are 4
even numbers are 6
even numbers are 8

## odd numbers in between range

In [59]:
n=int(input())
m=int(input())
for i in range(n,m):
        if i%2!=0:
               print("odd numbers are",i)

1
20
odd numbers are 1
odd numbers are 3
odd numbers are 5
odd numbers are 7
odd numbers are 9
odd numbers are 11
odd numbers are 13
odd numbers are 15
odd numbers are 17
odd numbers are 19

## sorting and reverse

In [71]:
n=[12,3,4,5,6,7,8,234,543]
n.sort()
n.reverse()
n

[543, 234, 12, 8, 7, 6, 5, 4, 3]

###swaping

In [72]:
a=int(input())
b=int(input())
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

5
7
a= 7
b= 5

## sorting elements inputs from user

In [14]:
l=[]
n=int(input("enter the lenght of the list")
for i in range(1,n+1):
      t=int(input("enter an element"))
      l.append(t)
l.sort()
print(l)

      
l.reverse()
print(l)

SyntaxError: invalid syntax (<ipython-input-14-dbca1763bb27>, line 3)